* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --main-color: #007bff;
}
.containerr {
  width: 100%;
  height: fit-content;
  font-family: "Poppins", sans-serif;
  position: relative;
  background: transparent;
  color: #fff;
}
.containerr::before {
  content: "";
  position: fixed;
  background: url(Images/bg.jpg) top right no-repeat;
  background-size: cover;
  left: 0;
  right: 0;
  top: 0;
  height: 100vh;
  z-index: -1;
}
/* -----------------Start Nav Bar Style ------------------------ */
nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container{
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  z-index: 999999999999999999999999999999;
}
nav ul li {
  opacity: 0.7;
  transition: 0.5s;
}
nav ul li:hover {
  opacity: 1;
}
#about {
  opacity: 1;
}
h2 {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
}

/* -----------------End Nav Bar Style ------------------------ */
/* ------------------- Start Content Box Style ------------------- */
.content {
  width: 87%;
  height: fit-content;
  background-color: rgba(0, 0, 0, 0.9);
  margin: 2% 6.5%;
  padding: 30px 25px;
  position: relative;
  top: 60px;
}
.topTxt {
  width: 100%;
  color: #fff;
}
.topTxt h2 {
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  line-height: 1px;
  letter-spacing: 2px;
  color: #aaaaaa;
  font-family: "Poppins", sans-serif;
}
.topTxt h2::after {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: var(--main-color);
  margin: 4px 10px;
}
.topTxt p {
  margin-bottom: 25px;
  font-size: 35px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #fff;
}
.imgBox img {
  padding-right: 40px;
}
.title {
  width: 60%;
}
.title h2 {
  font-family: "Raleway", "sans serif";
  color: var(--main-color);
  padding-bottom: 20px;
}
.title p {
  line-height: 1.5;
  font-style: italic;
}
.howiam {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.howiam ul li {
  font-size: 15px;
  list-style: none;
}
.howiam ul li i {
  color: var(--main-color);
}
/* ------------------- End Content Box Style -------------------- */

/* ------------------------ Start Skills Box Style --------------------- */
.skills {
  width: 100%;
  margin-bottom: 50px;
}
.skills p {
  font-size: 35px;
  margin-bottom: 40px;
}
.boxies {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.boxies .box {
  width: 48%;
  height: fit-content;
  margin-bottom: 50px;
}
.box h2 {
  font-family: "Raleway", "sans serif";
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  line-height: 1px;
  letter-spacing: 2px;
  color: #aaaaaa;
}
.box h2::after {
  content: "";
  width: 100px;
  height: 1px;
  display: inline-block;
  background: var(--main-color);
  margin: 4px 10px;
}
.box .top {
  width: 100%;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0;
}
.progress1,
.progress2,
.progress3,
.progress4,
.progress5,
.progressC {
  width: 100%;
  height: 7px;
  background-color: #aaaaaa;
  position: relative;
}
.progress1::after,
.progress2::after,
.progress3::after,
.progress4::after,
.progress5::after,
.progressC::after {
  position: absolute;
  content: "";
  height: 7px;
  background-color: var(--main-color);
  left: 0;
  bottom: 0;
}
.box .progress1::after {
  width: 95%;
}
.box .progress2::after {
  width: 85%;
}
.progress3::after,
.progress4::after {
  width: 80%;
}
.box .progress5::after {
  width: 50%;
}
.progressC::after {
  width: 20%;
}

/* ------------------------ End Skills Box Style --------------------- */

/* ---------------- Start Soft Skills Box style ------------------ */
.softSkills {
  width: 100%;
}
.softSkills h2 {
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  margin-bottom: 25px;
  line-height: 1px;
  letter-spacing: 2px;
  color: #aaaaaa;
  font-family: "Poppins", sans-serif;
}
.softSkills h2::after {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: var(--main-color);
  margin: 4px 10px;
}
.conterDivs {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.conterDivs div {
  height: 60px;
  background-color: #ffffff14;
  transition: 0.5s;
  padding: 20px;
}
.conterDivs div h3 {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-size: 16px;
  font-weight: 700;
}
.conterDivs div:hover {
  background-color: #ffffff21;
}

/* ---------------- End Soft Skills Box style ------------------ */
@media only screen and (max-width: 768px) {
  .content {
    width: 100%;
    margin: 25px 0;
  }
  .collapse ul li {
    transition: 0.5s;
    opacity: 0.4;
  }
  .collapse ul li:hover {
    background-color: #cccccc22;
    opacity: 0.9;
  }
  .collapse ul li:nth-child(2) {
    background-color: #cccccc22;
    opacity: 1;
  }
  .navbar-toggler:focus {
    outline: none;
  }
  #checkbox {
    display: none;
  }

  .toggle {
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition-duration: 0.5s;
  }

  .bars {
    width: 100%;
    height: 4px;
    background-color: var(--main-color);
    border-radius: 4px;
  }

  #bar2 {
    transition-duration: 0.8s;
  }

  #bar1,
  #bar3 {
    width: 70%;
  }

  #checkbox:checked + .toggle .bars {
    position: absolute;
    transition-duration: 0.5s;
  }

  #checkbox:checked + .toggle #bar2 {
    transform: scaleX(0);
    transition-duration: 0.5s;
  }

  #checkbox:checked + .toggle #bar1 {
    width: 100%;
    transform: rotate(45deg);
    transition-duration: 0.5s;
  }

  #checkbox:checked + .toggle #bar3 {
    width: 100%;
    transform: rotate(-45deg);
    transition-duration: 0.5s;
  }

  #checkbox:checked + .toggle {
    transition-duration: 0.5s;
    transform: rotate(180deg);
  }
  .container a h2 {
    font-size: 25px;
    padding-left: 20px;
  }
  .topTxt p {
    font-size: 22px;
  }
  .title {
    width: 100%;
  }
  .title h2 {
    padding: 15px;
    font-size: 25px;
  }
  .title p {
    padding-left: 0;
  }
  .li {
    font-size: 12px;
  }
  .howiam {
    flex-direction: column;
  }
  .howiam ul li {
    padding-bottom: 10px;
  }
  .skills p {
    padding-left: 0;
  }
  .boxies .box {
    width: 100%;
    padding-left: 0;
  }
  .boxies .box h2 {
    padding: 0;
    line-height: 25px;
  }
  .boxies .box h2::after {
    width: 60px;
    margin-left: 0;
    margin-right: 0;
  }
  #team {
    font-size: 12px;
  }
}

/* ------------------------- Tablet Style -------------------------------- */
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .collapse ul li {
    transition: 0.5s;
  }
  .collapse ul li:hover {
    background-color: #cccccc22;
  }
  .collapse ul li:nth-child(2) {
    background-color: #cccccc22;
  }
  .navbar-toggler:focus {
    outline: none;
  }
  #checkbox {
    display: none;
  }

  .toggle {
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition-duration: 0.5s;
  }

  .bars {
    width: 100%;
    height: 4px;
    background-color: var(--main-color);
    border-radius: 4px;
  }

  #bar2 {
    transition-duration: 0.8s;
  }

  #bar1,
  #bar3 {
    width: 70%;
  }

  #checkbox:checked + .toggle .bars {
    position: absolute;
    transition-duration: 0.5s;
  }

  #checkbox:checked + .toggle #bar2 {
    transform: scaleX(0);
    transition-duration: 0.5s;
  }

  #checkbox:checked + .toggle #bar1 {
    width: 100%;
    transform: rotate(45deg);
    transition-duration: 0.5s;
  }

  #checkbox:checked + .toggle #bar3 {
    width: 100%;
    transform: rotate(-45deg);
    transition-duration: 0.5s;
  }

  #checkbox:checked + .toggle {
    transition-duration: 0.5s;
    transform: rotate(180deg);
  }
  nav h2 {
    padding-left: 50px;
  }
}

/* ------------------------------ Desktop Style ----------------------------- */
@media screen and (min-width: 993px) {
  .nav-item {
    position: relative;
  }
  .nav-item::after {
    position: absolute;
    content: "";
    left: 50px;
    bottom: 0;
    width: 0;
    height: 3px;
    background-color: var(--main-color);
    transition: 0.5s;
  }
  #about::after {
    width: 30%;
  }
  .nav-item:hover::after {
    width: 30%;
  }
}
