* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --main-color: #007bff;
}
.containerr {
  width: 100%;
  height: fit-content;
  font-family: "Poppins", sans-serif;
  position: relative;
  background: transparent;
  color: #fff;
}
.containerr::before {
  content: "";
  position: fixed;
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.856),
      rgba(0, 0, 0, 0.23)
    ),
    url(Images/bg.jpg) top right no-repeat;
  background-size: cover;
  left: 0;
  right: 0;
  top: 0;
  height: 100vh;
  z-index: -1;
}
/* -----------------Start Nav Bar Style ------------------------ */
nav {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.467);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul li {
  opacity: 0.7;
  transition: 0.5s;
}
nav ul li:hover {
  opacity: 1;
}
#home {
  opacity: 1;
}
nav .container a h2 {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
}

/* -----------------End Nav Bar Style ------------------------ */

/* ----------------- Start Summary Style ------------------------ */
.summary {
  width: 100%;
  height: 600px;
}
.summary h1 {
  font-size: 60px;
  font-weight: bold;
}
.summary h1 span {
  color: var(--main-color);
}
.summary p {
  font-size: 25px;
}
.summary p span {
  color: var(--main-color);
}
.summary .links {
  display: flex;
}
.summary .links a {
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff84;
  color: #fff;
  line-height: 1;
  margin-right: 20px;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  text-decoration: none;
  transition: 0.5s;
}
.summary .links i {
  position: relative;
  color: #000;
  font-size: 22px;
  cursor: pointer;
  transition: 0.5s;
}
.summary .links a:hover {
  background-color: #9291913a;
}
.summary .links a:hover i {
  color: #fff;
}
/* ----------------- End Summary Style ------------------------ */

/* ----------------- Mobile Style ---------------- */
@media only screen and (max-width: 768px) {
  nav {
    background-color: transparent;
  }
  nav h2 {
    display: none;
  }
  .container a h2 {
    font-size: 25px;
    padding-left: 20px;
  }
  .summary {
    align-items: center;
    padding-top: 100px;
    text-align: center;
    justify-content: center;
  }
  .collapse ul li {
    transition: 0.5s;
    opacity: 0.4;
  }
  .collapse ul li:hover {
    background-color: #cccccc22;
    opacity: 0.9;
  }
  .collapse ul li:nth-child(1) {
    background-color: #cccccc22;
    opacity: 1;
  }
  .navbar-toggler:focus {
    outline: none;
  }
  #checkbox {
    display: none;
  }

  .toggle {
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition-duration: 0.5s;
  }

  .bars {
    width: 100%;
    height: 4px;
    background-color: #fff;
    border-radius: 4px;
  }

  #bar2 {
    transition-duration: 0.8s;
  }

  #bar1,
  #bar3 {
    width: 70%;
  }

  #checkbox:checked + .toggle .bars {
    position: absolute;
    transition-duration: 0.5s;
  }

  #checkbox:checked + .toggle #bar2 {
    transform: scaleX(0);
    transition-duration: 0.5s;
  }

  #checkbox:checked + .toggle #bar1 {
    width: 100%;
    transform: rotate(45deg);
    transition-duration: 0.5s;
  }

  #checkbox:checked + .toggle #bar3 {
    width: 100%;
    transform: rotate(-45deg);
    transition-duration: 0.5s;
  }

  #checkbox:checked + .toggle {
    transition-duration: 0.5s;
    transform: rotate(180deg);
  }
  .summary h1 {
    font-size: 50px;
  }
  .summary p {
    font-size: 22px;
    font-weight: 600;
  }
}

/* ------------------------- Tablet Style -------------------------------- */
@media only screen and (min-width: 768px) and (max-width: 992px) {
  nav {
    background-color: transparent;
  }
  nav h2 {
    display: none;
  }
  .container a h2 {
    font-size: 25px;
    padding-left: 20px;
  }
  .summary {
    align-items: center;
    padding-top: 100px;
    text-align: center;
    justify-content: center;
  }
  .collapse ul li {
    transition: 0.5s;
    opacity: 0.4;
  }
  .collapse ul li:hover {
    background-color: #cccccc22;
    opacity: 0.9;
  }
  .collapse ul li:nth-child(1) {
    background-color: #cccccc22;
    opacity: 1;
  }
  .navbar-toggler:focus {
    outline: none;
  }
  #checkbox {
    display: none;
  }

  .toggle {
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition-duration: 0.5s;
  }

  .bars {
    width: 100%;
    height: 4px;
    background-color: var(--main-color);
    border-radius: 4px;
  }

  #bar2 {
    transition-duration: 0.8s;
  }

  #bar1,
  #bar3 {
    width: 70%;
  }

  #checkbox:checked + .toggle .bars {
    position: absolute;
    transition-duration: 0.5s;
  }

  #checkbox:checked + .toggle #bar2 {
    transform: scaleX(0);
    transition-duration: 0.5s;
  }

  #checkbox:checked + .toggle #bar1 {
    width: 100%;
    transform: rotate(45deg);
    transition-duration: 0.5s;
  }

  #checkbox:checked + .toggle #bar3 {
    width: 100%;
    transform: rotate(-45deg);
    transition-duration: 0.5s;
  }

  #checkbox:checked + .toggle {
    transition-duration: 0.5s;
    transform: rotate(180deg);
  }
}

/* ------------------------------ Desktop Style ----------------------------- */
@media screen and (min-width: 993px) {
  .nav-item {
    position: relative;
  }
  .nav-item::after {
    position: absolute;
    content: "";
    left: 50px;
    bottom: 0;
    width: 0;
    height: 3px;
    background-color: var(--main-color);
    transition: 0.5s;
  }
  #home::after {
    width: 30%;
  }
  .nav-item:hover::after {
    width: 30%;
  }
}
