* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --main-color: #007bff;
}
.containerr {
  width: 100%;
  height: fit-content;
  font-family: "Poppins", sans-serif;
  position: relative;
  background: transparent;
  color: #fff;
}
.containerr p {
  font-family: "Open Sans", sans-serif;
}
.containerr::before {
  content: "";
  position: fixed;
  background: url(Images/bg.jpg) top right no-repeat;
  background-size: cover;
  left: 0;
  right: 0;
  top: 0;
  height: 100vh;
  z-index: -1;
}
/* -----------------Start Nav Bar Style ------------------------ */

/* -----------------Start Nav Bar Style ------------------------ */
nav {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
}

h2 {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
}

/* -----------------End Nav Bar Style ------------------------ */

/* ------------------ Start Content Box Style -------------------- */

.content {
  width: 87%;
  height: fit-content;
  background-color: rgba(0, 0, 0, 0.821);
  margin: 2% 6.5%;
  padding: 30px 25px;
}
.topTxt {
  width: 100%;
  color: #fff;
}
.topTxt h2 {
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  line-height: 1px;
  letter-spacing: 2px;
  color: #aaaaaa;
  font-family: "Poppins", sans-serif;
}
.topTxt h2::after {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: #4b4bfb;
  margin: 4px 10px;
}
.topTxt p {
  margin-bottom: 25px;
  font-size: 35px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #fff;
}
.conter {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.conter .box {
  height: 400px;
  background: #cccccc1a;
  border-radius: 5px;
  margin-bottom: 30px;
  padding: 7px;
  position: relative;
  transition: 0.5s;
}
.conter .box:hover {
  background-color: #4b4bfb;
}
.conter .box img {
  width: 100%;
  height: 200px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.conter .box .title {
  width: 100%;
  margin-top: 14px;
  text-align: center;
  transition: 0.5s;
}
.conter .box .title p {
  line-height: 24px;
  color: #fff;
  font-size: 14px;
}
.conter .box .title h2 {
  font-size: 30px;
  font-family: "Raleway", "sans-serif";
}
.conter .box .icon {
  width: 46px;
  height: 46px;
  background-color: #aaaaaa8d;
  border-radius: 50%;
  position: absolute;
  left: calc(50% - 23px);
  top: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
.icon i {
  font-size: 30px;
  color: #000;
  transition: 0.5s;
}
.conter .box .icon:hover {
  background-color: #1c1c5f;
}
.conter .box .icon:hover i {
  color: #fff;
}
/* -------------------------------------  */
@media only screen and (max-width: 768px) {
  .collapse ul li {
    transition: 0.5s;
  }
  .collapse ul li:hover {
    background-color: #cccccc22;
  }
  .collapse ul li:nth-child(4) {
    background-color: #cccccc22;
  }
  .navbar-toggler:focus {
    outline: none;
  }
  #checkbox {
    display: none;
  }

  .toggle {
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition-duration: 0.5s;
  }

  .bars {
    width: 100%;
    height: 4px;
    background-color: var(--main-color);
    border-radius: 4px;
  }

  #bar2 {
    transition-duration: 0.8s;
  }

  #bar1,
  #bar3 {
    width: 70%;
  }

  #checkbox:checked + .toggle .bars {
    position: absolute;
    transition-duration: 0.5s;
  }

  #checkbox:checked + .toggle #bar2 {
    transform: scaleX(0);
    transition-duration: 0.5s;
  }

  #checkbox:checked + .toggle #bar1 {
    width: 100%;
    transform: rotate(45deg);
    transition-duration: 0.5s;
  }

  #checkbox:checked + .toggle #bar3 {
    width: 100%;
    transform: rotate(-45deg);
    transition-duration: 0.5s;
  }

  #checkbox:checked + .toggle {
    transition-duration: 0.5s;
    transform: rotate(180deg);
  }
}
